<header class="header">
  <div class="local-header">
    <div class="local-header-content">
      <h1>Welcome to the Ebook</h1>
      <p>Be ready to be more than just a student!</p>
    </div>

  </div>
  <div class="nav-content">
    <!-- Link à esquerda -->
    <a routerLink="/aula01" class="logo-link">Aula01</a>
   <a routerLink="/wellcome" class="logo-link">Wellcome</a>

    <!-- Espaço para outros elementos à direita se necessário -->
    <div class="spacer"></div>
  </div>
  <!-- </nav> -->
</header>